@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.9791 0 0);
  --card-foreground: oklch(0.2046 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2046 0 0);
  --primary: oklch(0.4244 0.1809 265.6377);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9299 0.0334 272.7879);
  --secondary-foreground: oklch(0.4244 0.1809 265.6377);
  --muted: oklch(0.9276 0.0058 264.5313);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9299 0.0334 272.7879);
  --accent-foreground: oklch(0.4244 0.1809 265.6377);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9299 0.0334 272.7879);
  --input: oklch(0.9299 0.0334 272.7879);
  --ring: oklch(0.4244 0.1809 265.6377);
  --chart-1: oklch(0.7137 0.1434 254.624);
  --chart-2: oklch(0.709 0.1592 293.5412);
  --chart-3: oklch(0.7729 0.1535 163.2231);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7253 0.1752 349.7607);
  --sidebar: oklch(0.967 0.0029 264.5419);
  --sidebar-foreground: oklch(0.2781 0.0296 256.848);
  --sidebar-primary: oklch(0.4244 0.1809 265.6377);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9299 0.0334 272.7879);
  --sidebar-accent-foreground: oklch(0.4244 0.1809 265.6377);
  --sidebar-border: oklch(0.9299 0.0334 272.7879);
  --sidebar-ring: oklch(0.4244 0.1809 265.6377);
  --font-sans: Barlow, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.25);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1799 0.0257 269.5911);
  --foreground: oklch(0.9639 0.0099 267.3588);
  --card: oklch(0.2261 0.021 264.0199);
  --card-foreground: oklch(0.9639 0.0099 267.3588);
  --popover: oklch(0.1799 0.0257 269.5911);
  --popover-foreground: oklch(0.9639 0.0099 267.3588);
  --primary: oklch(0.8848 0.1816 94.8972);
  --primary-foreground: oklch(0.1799 0.0257 269.5911);
  --secondary: oklch(0.31 0.0283 267.7408);
  --secondary-foreground: oklch(0.9639 0.0099 267.3588);
  --muted: oklch(0.31 0.0283 267.7408);
  --muted-foreground: oklch(0.7683 0.0158 260.7262);
  --accent: oklch(0.31 0.0283 267.7408);
  --accent-foreground: oklch(0.9639 0.0099 267.3588);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2601 0.0283 263.891);
  --input: oklch(0.2601 0.0283 263.891);
  --ring: oklch(0.8848 0.1816 94.8972);
  --chart-1: oklch(0.8848 0.1816 94.8972);
  --chart-2: oklch(0.7116 0.1812 22.8389);
  --chart-3: oklch(0.7297 0.1441 170.2024);
  --chart-4: oklch(0.7945 0.1709 71.1881);
  --chart-5: oklch(0.571 0.2971 304.6552);
  --sidebar: oklch(0.1799 0.0257 269.5911);
  --sidebar-foreground: oklch(0.9639 0.0099 267.3588);
  --sidebar-primary: oklch(0.8848 0.1816 94.8972);
  --sidebar-primary-foreground: oklch(0.1799 0.0257 269.5911);
  --sidebar-accent: oklch(0.31 0.0283 267.7408);
  --sidebar-accent-foreground: oklch(0.9639 0.0099 267.3588);
  --sidebar-border: oklch(0.2601 0.0283 263.891);
  --sidebar-ring: oklch(0.8848 0.1816 94.8972);
  --font-sans: Barlow, ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Times New Roman", serif;
  --font-mono: "Courier New", monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.2);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.2);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.4),
    0 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.4),
    0 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.4),
    0 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.4),
    0 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.4),
    0 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
